#root {
    max-height: 100vh;

    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    max-height: 100vh;

    overflow: hidden;
}

.pane, .menu {
    border-style: solid;
}

.menu {
    position: fixed;
    width: 300px;
    height: 100vh;

    background-color: white;
}
.left {
    left: 0;
}
.right {
    right: 0;
}

.editor {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ccc;
}




.screen {
    position: fixed;

    width: calc(100vw - 2*300px - 48px);
    aspect-ratio: 1.75;

    background-color: white;
}