#root {
    max-height: 100vh;

    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    max-height: 100vh;

    overflow: hidden;
}

h1, h2, h3 {
    margin: 0;
    text-align: center;
    font-weight: lighter;
}

.overlay {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 300px 1fr 300px;

    z-index: 100;
}

.top {  
    grid-row: 1;
    grid-column: 1 / -1;
}
.left {
    grid-row: 2 / -1;
    grid-column: 1;
}
.right {
    grid-row: 2 / 4;
    grid-column: 3;
}
.bottom {
    grid-row: 3;
    grid-column: 2 / -2;
}
.export {
    grid-row: 2;
    grid-column: 2;
}

.pane, .menu {
    background-color: white;
    border-style: solid;

    z-index: inherit;
}

.editor {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ccc;
}
.screen {
    width: calc(100vw - 2*300px - 48px);
    aspect-ratio: 1.75;

    background-color: white;
}